@import 'normalize/normalize';
@import 'settings/settings';
@import 'elements/elements';

//----Header & Nav ----//
header {
    background-color: white;
}

.nav-item {
    transition: all .5s;
    border-bottom: transparent 3px solid;
    a { 
        display: block;
        color: $darkgray;
    }
    //----Dropdown menu Styles----//
    .dropdown-menu a{
    color: $lightgray;
    }
    .dropdown-menu a:hover {
        background-color: $tangerine;
        color: white;
    }

}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}
.nav-item:hover {
    border-bottom: $tangerine 3px solid;
}
.nav-item:not(:last-child) {
    margin-right: 2rem;
}

//----Hero Carousel----//
    //----Hero Overlay----//
.hero {
    position: relative;
}
.hero-title-overlay {
    text-align: center;
    position: absolute;
    z-index: 10;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    font-family: $displayfont;
    font-weight: 700;
    background-image: linear-gradient(to bottom, rgba($darkgreen, .8), rgba($darkgreen, .3));
    .heading-thin {
        font-family: $contentfont;
        font-weight: 300;
        font-size: 3vw;
    }
}

.hero-carousel img {
    max-height: 50rem;
    min-width: auto;
}
//----Featurede Drinks----//
.featured-drinks{
    margin: 3rem 0rem;
    h2 {
        padding-left: 1rem;
        color: $darkgreen;
        font-weight: 300;
    }
    .card {
        border: none;   
    }
    .card-title {
        color: $watermelon;
        font-weight: 300;
    }
}

.drinks-category-1{
    margin: 3rem 0rem;
    .card {
        border: none;   
    }
    .card-title {
        color: $watermelon;
    }
}
.drinks-category-2{
    margin: 3rem 0rem;
}

footer {
    padding: 3rem 0 5rem 0;
    background-color: $darkgreen;
    color: white;
    h5 {
        text-transform: uppercase;
        color: $lightgreen;
    }
    p {
        font-size: 1.4rem;
    }
}

.footer-email-form {
    display: flex;
    margin: 1rem 0 1rem 0;
    input {
        border: none;
        border-radius: .2rem;
        padding: .25rem .5rem;
        margin-right: .5rem;
        width: 75%;
        font: $contentfont;
        color: $lightgray;
    }
    button {
        border: white 1px solid;
        background: none;
        border-radius: .2rem;
        color: white;
        padding: 1rem 0;
        width: 25%;
        transition: opacity ease-in-out .5s; 
        opacity: 1;
    }
    button:hover {
            opacity: .7;
    }
}

.social-icons {
    list-style: none;
    display: flex;

    .social-icon {
        margin-right: 1rem;
        transition: opacity ease-in-out .5s; 
        opacity: 1;
    }
    .social-icon:hover {
        opacity: .7;
    }
}

.support-item {
    a {
        color: white;
        transition: opacity ease-in-out .5s; 
        opacity: 1;
    }
    a:hover {
        opacity: .7;
    }
}

.container {
    padding: 0;
}