@use 'normalize/normalize';


.card-img-overlay {
    margin: 0 3rem 3rem 3rem;
}

h5 {
    font-size: 1rem;
    align-self: flex-start;
}

.social-icons {
    list-style: none;
    display: flex;
    .social-icon {
        align-items: space-between;
    }
}

footer {
    padding: 2rem 0;
    p {
        font-size: .85rem;
    }
}