@import "normalize/normalize";
@import "settings/settings";
@import "elements/elements";

//----Header & Nav ----//
header {
    background-color: white;
}

.main-nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 3px 3px 3px rgba($darkgray, 0.2);
}

.nav-item {
    transition: all 0.5s;
    border-bottom: transparent 3px solid;
    a {
        display: block;
        color: $darkgray;
    }

    //----Dropdown menu Styles----//
    .dropdown-menu a {
        color: $lightgray;
    }

    .dropdown-menu a:hover {
        background-color: $tangerine;
        color: white;
    }
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item:hover {
    border-bottom: $tangerine 3px solid;
}

.nav-item:not(:last-child) {
    margin-right: 2rem;
}


.card-img-overlay {
  margin: 0 3rem 3rem 3rem; }

h5 {
  font-size: 1rem;
  align-self: flex-start; }

.social-icons {
  list-style: none;
  display: flex; }
  .social-icons .social-icon {
    align-items: space-between; }



// Footer
.reviews {
    background-color: $lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    padding: 12rem 0;
    .blockquote {
      width: 60%;
      p {
        font-size: 2rem;
      }
      footer {
        margin: 0;
        padding: 0;
        background-color: transparent;
        font-size: 1.4rem
      }
    }
  
  }
  
  footer {
    padding: 3rem 0 5rem 0;
    background-color: $darkgreen;
    color: white;
    .container {
      margin-left: 18%;
    }
    h5 {
      text-transform: uppercase;
      color: $lightgreen;
    }
  
    p {
      font-size: 1.4rem;
      color: white;
    }
  }
  
  .footer-email-form {
    display: flex;
    margin: 1rem 0 1rem 0;
  
    input {
      border: none;
      border-radius: 0.2rem;
      padding: 0.25rem 0.5rem;
      margin-right: 0.5rem;
      width: 75%;
      font: $contentfont;
      color: $lightgray;
    }
  
    button {
      font-size: 1.8rem;
      border: white 1px solid;
      background: none;
      border-radius: 0.2rem;
      color: white;
      padding: 1rem 0;
      width: 25%;
      transition: opacity ease-in-out 0.5s;
      opacity: 1;
    }
  
    button:hover {
      opacity: 0.7;
    }
  }
  
  .social-icons {
    list-style: none;
    display: flex;
    
  
    .social-icon {
      margin-right: 2.5rem;
      transition: opacity ease-in-out 0.5s;
      opacity: 1;
      a {
        font-size: 1.5rem;
      }
    }
  
    .social-icon:hover {
      opacity: 0.7;
    }
  }
  
  .support-item {
    a {
      color: white;
      transition: opacity ease-in-out 0.5s;
      opacity: 1;
    }
  
    a:hover {
      opacity: 0.7;
    }
  }
  
  .container {
    padding: 0;
  }
  