//----Colors----//
$lightgreen: #d4f8e8;
$darkgreen: #1eb3a6;
$tangerine: #ffa34d;
$watermelon: #f77575;
$darkgray: #353b40;
$lightgray: #a3a3a3;

//----Fonts----//
$displayfont: 'Open Sans Condensed', sans-serif;
$contentfont: 'Open Sans', sans-serif;
