h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}